
$color_prm: #9356DC ;
$color_scd: #FF79DA;
$color_ter: #99E2D0;
$bg_footer: #353535;
$color-icon-grey: #7E7E7E;
$bg_main_contener: #F6F6F6;

@mixin box_shadow($opacity){
    box-shadow: 0 .25rem 0.9rem 0 rgba(0, 0, 0, $opacity) ;
}

@mixin badge_shadow {
    box-shadow: 0 .125rem 0.25rem 0 rgba(0, 0, 0, 0.15) ;
}


:root{
    color:black;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
    color:black;
}

body{
    margin: 0;
}

p{
    font-family: Roboto, sans-serif;
}

a{
    text-decoration: none;
}



.like{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-repeat: no-repeat;

    &__no{
        background-image: url(../images/Like_no.png);
        transition: background-image 250ms;
        &:hover{
            background-image: url(../images/Like_ok.png);
        }
    }

    &__ok{
        background-image: url(../images/Like_ok.png);
        transition: background-image 250ms;
        &:hover{
            background-image: url(../images/Like_no.png);
        }
    }

}

/* couleur des icones */

.fa-color-blc{
    color: white;
}

.fa-color-red{
    color: $color_prm;
}

.fa-color-grey{
    color:$color-icon-grey;
}

%titre{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

@keyframes contener{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.index{
    animation : contener 1000ms 3250ms both;
}

.main_contener{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 0 auto ;
    
}


.main{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color:$bg_main_contener;
}

.button{
    border-radius: 25px;
    background: linear-gradient(193deg, $color_prm, $color_scd);
    @include box_shadow(0.25);
    align-self: center;
    text-align: center;
    color: white;
    padding: 0.8em 1.5em;
    font-weight: 500;
    transition: all 250ms;
    &:hover{
        opacity: .80;
        @include box_shadow(0.5);
    }
}