
$bg_loader: white;

@keyframes barre{
    from{
        transform: scaleY(0);
    }

    to{
        transform: scale(1);
    }
}


.loader{
    margin: auto;
    position: fixed;
    top: calc(50% - 2.5rem);
    left: calc(50% - 6rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 12rem;
    height: 5rem;
    gap:0.5rem;
    z-index: 1;
}

.barre{
    display: block;
    width: 0.5rem;
    height: 5rem;
    transform: scale(0);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 50%, #30cfd0 100%);
    border-radius: 100%;
}

.barre_1{
    animation: barre 500ms 250ms 6;
}

.barre_2{
    animation: barre 300ms 250ms 10;
}

.barre_3{
    animation: barre 600ms 250ms 5;
}

.barre_4{
    animation: barre 500ms 250ms 6;
}

.barre_5{
    animation: barre 300ms 250ms 10;
}